<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="ZephyrScaleTest">
    <test name="test_that_passes">
        <classes>
            <class name="com.prathamesh.poc.zephryscaleupdates.PassingTest"/>
        </classes>
    </test>
    <test name="test_that_fails">
        <classes>
            <class name="com.prathamesh.poc.zephryscaleupdates.FailingTest"/>
        </classes>
    </test>

</suite>